<div
  class="modal fade"
  id="Modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Dynamic -->
        <!-- Modal Header Here -->
        <!-- Modal Header Here -->
        <!-- Dynamic -->
      </div>
      <div class="modal-body">
        <!-- Dynamic -->
        <!-- Modal Contents Here -->
        <!-- Modal Contents Here -->
        <!-- Dynamic -->
      </div>
      <div class="modal-footer">
        <!-- Dynamic -->
        <!-- Modal Buttons Here -->
        <!-- Modal Buttons Here -->
        <!-- Dynamic -->
      </div>
    </div>
  </div>
</div>
