<div
  class="modal fade"
  id="Modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-12">
            <h1 class="fw-bold mb-0">
              {{ contents?.ticker }}
            </h1>
          </div>
          <div class="col-12">
            <span
              class="text-muted modal-title fs-6 fw-bold"
              id="exampleModalLabel"
            >
              {{ contents?.order }} ORDER
            </span>
          </div>

          <div class="col-12">
            <span class="fw-regular text-muted" id="exampleModalLabel">
              {{ contents?.txnno }}
            </span>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-borderless OrderSummary">
          <thead>
            <tr>
              <th class="ms-0 ps-0" colspan="2"></th>
            </tr>
          </thead>
          <tbody class="orderFees">
            <tr>
              <th scope="row">Quantity:</th>
              <td class="text-end">
                {{ contents?.quantity | number : "1.0" }} shares
              </td>
            </tr>

            <tr>
              <th scope="row">Share Price:</th>
              <td class="text-end">
                {{ contents?.shareprice | number : "1.4" }}
              </td>
            </tr>

            <tr>
              <th scope="row">Average Unit Price:</th>
              <td class="text-end">
                {{ contents?.aveunitprice | number : "1.4" }}
              </td>
            </tr>

            <tr>
              <th scope="row">Gross Amount:</th>
              <td class="text-end">{{ contents?.gross | number : "1.4" }}</td>
            </tr>
            <tr>
              <th scope="row" colspan="2">
                <h5 class="fw-bold mb-0">Fees</h5>
              </th>
            </tr>

            <tr>
              <th scope="row">Commissions:</th>
              <td class="text-end">
                {{ contents?.commission | number : "1.4" }}
              </td>
            </tr>

            <tr>
              <th scope="row">VAT:</th>
              <td class="text-end">{{ contents?.vat | number : "1.4" }}</td>
            </tr>
            <tr>
              <th scope="row">PSE Fees:</th>
              <td class="text-end">{{ contents?.pse | number : "1.4" }}</td>
            </tr>

            <tr>
              <th scope="row">SCCP Fees:</th>
              <td class="text-end">{{ contents?.sccp | number : "1.4" }}</td>
            </tr>

            <tr>
              <th scope="row">Sales Tax:</th>
              <td class="text-end">
                {{ contents?.salestax | number : "1.4" }}
              </td>
            </tr>

            <tr>
              <th scope="row">Total Fees:</th>

              <td class="text-end">
                {{ contents?.totalfees | number : "1.4" }}
              </td>
            </tr>

            <tr>
              <th scope="row"><h4 class="fw-bold mb-0">Total Cost:</h4></th>
              <td class="text-end">
                <h5 class="fw-bold mb-0">
                  {{ contents?.totalcost | number : "1.4" }}
                </h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
