<form>
  <div class="form-group p-0 m-0">
    <div class="row">
      <div class="col-auto">
        <txndate></txndate>
      </div>

      <div class="col-auto">
        <order></order>
      </div>

      <div class="col-auto"></div>

      <div class="col-auto"></div>

      <div class="col-auto"></div>

      <div class="col-auto"></div>
    </div>

    <button class="btn-primary btn" (click)="onSubmit()">Submit</button>
  </div>
</form>

<hr />

<div class="row">
  <div class="col-auto">
    <transaction-list></transaction-list>
  </div>
</div>
