<div class="mb-3 ticker">
  <label for="Ticker" class="mb-2">Stock Ticker</label>
  <input
    type="text"
    class="form-control"
    placeholder="Stock Ticker"
    (input)="filter($event)"
    id="Ticker"
    name="Ticker"
    [(ngModel)]="stTicker"
    (change)="update()"
    autocomplete="off"
    required
  />
  <div class="suggestions" *ngIf="suggestions.length > 0">
    <div
      class="suggestion bg-light ps-3 pe-2 pt-2 pe-auto"
      style="cursor: pointer"
      *ngFor="let suggestion of suggestions"
      (click)="selectSuggestion(suggestion)"
    >
      {{ suggestion }}
    </div>
  </div>
</div>
