<div class="mb-3 ticker">
  <label for="Ticker" class="mb-2">Stock Ticker</label>
  <input
    type="text"
    class="form-control"
    placeholder="Stock Ticker"
    id="Ticker"
    name="Ticker"
    autocomplete="off"
    required
    (input)="filterStocks($event)"
    (focus)="onFocus()"
    [ngClass]="{ 'bg-danger': invalidTicker }"
  />
  <div
    class="suggestions shadow-sm"
    *ngIf="showSuggestions && filteredStocks.length > 0"
  >
    <div
      class="bg-light ps-3 pe-2 pt-2 pe-auto"
      style="cursor: pointer"
      *ngFor="let stock of filteredStocks"
      (click)="selectStock(stock)"
    >
      {{ stock.ticker }}
    </div>
  </div>
</div>
