<table class="table text-small">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Transaction No.</th>
      <th scope="col">Transaction Date</th>
      <th scope="col">Broker</th>
      <th scope="col">Transaction</th>
      <th scope="col">Ticker</th>
      <th scope="col">Number of Shares</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Average Unit Price</th>
      <th scope="col">Total Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="transactionRows"
      *ngFor="let transaction of transactions | orderBy : 'txndate'"
      id="{{ transaction.txnid }}"
    >
      <td scope="row"><i class="bi bi-eye"></i></td>
      <td>{{ transaction.txnno }}</td>
      <td>{{ transaction.txndate }}</td>
      <td>{{ transaction.broker }}</td>
      <td>{{ transaction.order }}</td>
      <td>{{ transaction.ticker | uppercase }}</td>
      <td class="text-end">{{ transaction.quantity | number : "1.0" }}</td>
      <td class="text-end">{{ transaction.shareprice | number : "1.4-4" }}</td>
      <td class="text-end">
        {{ transaction.aveunitprice | number : "1.4-4" }}
      </td>
      <td class="text-end">{{ transaction.totalcost | number : "1.4-4" }}</td>
    </tr>
  </tbody>
</table>
