<table class="table table-hover text-small">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Transaction No.</th>
      <th scope="col">Transaction Date</th>
      <th scope="col">Broker</th>
      <th scope="col">Transaction</th>
      <th scope="col">Ticker</th>
      <th scope="col">Number of Shares</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Average Unit Price</th>
      <th scope="col">Total Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="transactionRows"
      *ngFor="let transaction of transactions | orderBy : 'txndate'"
      id="{{ transaction.txnid }}"
    >
      <td scope="row" (click)="onRowClick(transaction.txnid)">
        <i class="bi bi-eye"></i>
      </td>

      <td (click)="onRowClick(transaction.txnid)">{{ transaction.txnno }}</td>
      <td (click)="onRowClick(transaction.txnid)">
        {{ transaction.txndate }}
      </td>
      <td (click)="onRowClick(transaction.txnid)">
        {{ transaction.broker }}
      </td>
      <td (click)="onRowClick(transaction.txnid)">{{ transaction.order }}</td>
      <td (click)="onRowClick(transaction.txnid)">
        {{ transaction.ticker | uppercase }}
      </td>
      <td class="text-end" (click)="onRowClick(transaction.txnid)">
        {{ transaction.quantity | number : "1.0" }}
      </td>
      <td class="text-end" (click)="onRowClick(transaction.txnid)">
        {{ transaction.shareprice | number : "1.4-4" }}
      </td>
      <td class="text-end" (click)="onRowClick(transaction.txnid)">
        {{ transaction.aveunitprice | number : "1.4-4" }}
      </td>

      <td class="text-end" (click)="onRowClick(transaction.txnid)">
        {{ transaction.totalcost | number : "1.4-4" }}
      </td>
    </tr>
  </tbody>
</table>
<modal></modal>
