<div class="d-none">
  <p>Transaction Date: {{ txndate }}</p>
  <p>Broker: {{ broker }}</p>
  <p>Transaction Order: {{ order }}</p>
  <p>Stock: {{ ticker }}</p>
  <p>Gross: {{ gross | number : "1.4-4" }}</p>
  <p>Commission: {{ comm | number : "1.4-4" }}</p>
  <p>VAT on Commission: {{ vat | number : "1.4-4" }}</p>
  <p>PSE Transaction Fees: {{ psetxn | number : "1.4-4" }}</p>
  <p>SCCP Fee: {{ sccp | number : "1.4-4" }}</p>
  <p>Sales Tax: {{ salestax | number : "1.4-4" }}</p>

  <p>
    <strong>Total Cost: {{ totalcost | number : "1.4-4" }}</strong>
  </p>
</div>
